html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    flex-direction: column;
}

body {
    display: flex;
    position: relative;
}

header {
    background-color: #6D9886;
    text-align: center;
}

.main_title {
    color: #393E46;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 2px #32363d;
    text-decoration: none!important;
}

/* There was a justify-content: space-evenly; */

main {
    position: relative;
    flex-grow: 1;
    background-color: #F2E7D5;
    font-family: 'Varela Round', sans-serif;
}

.main_flex {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.index_flex {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

footer {
    background-color: #6D9886;
    color: white;
}

.footer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
    border-color: #6D9886;
    border-radius: 8px;
    margin-bottom: 5px;
}


input[type="password"], input[type="text"] {
    border-style: inset;
    background-color: #F7F7F7;
    margin-bottom: 5px;
}

select {
    padding: 3px;
}

/* Main */

.hidden {
    display: none; 
}

.board {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.board_main {
    border: 1px solid black;
    background-color: rgb(173,189,143);
}

.rank {
    display: flex;
    flex-direction: row;
}

.index_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.index_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selection {
    z-index: 1;
    position: absolute;
    margin-right: auto;
    margin-top: 32px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: row;
    box-shadow: 0 12px 9px -9px black;
    background-color: whitesmoke;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.selection .square:nth-child(even) {
    background-color: lightgrey;
}

.square {
    font-family: serif;
    font-size: 3.5rem;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pieces {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.index_square {
    font-size: 1.3rem;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank:nth-child(even) .square:nth-child(odd) {
    background-color: rgb(111,143,114);
}

.rank:nth-child(odd) .square:nth-child(even) {
    background-color: rgb(111,143,114);
}

/* Hovers */

[data-m='1']:hover {
    cursor: pointer;
}

.square:nth-child(odd)[data-m='1']:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1)
}

.square:nth-child(even)[data-m='1']:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1)
}

/* Active */

.square:nth-child(odd)[data-a='1'] {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 255, 0.3);
}

.square:nth-child(even)[data-a='1'] {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 255, 0.3);
}

[data-a='1']:hover {
    cursor: pointer;
}

.square:nth-child(odd)[data-a='1']:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 255, 0.5);
}

.square:nth-child(even)[data-a='1']:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 255, 0.5);
}


/* piece moves */

.square:nth-child(odd)[data-go='1'] {
    box-shadow: inset 0 0 0 100px rgba(0, 255, 0, 0.3);
}

.square:nth-child(even)[data-go='1'] {
    box-shadow: inset 0 0 0 100px rgba(0, 255, 0, 0.3);
}

[data-go='1']:hover {
    cursor: pointer;
}

.square:nth-child(odd)[data-go='1']:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 255, 0, 0.4);
}

.square:nth-child(even)[data-go='1']:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 255, 0, 0.4);
}

/* piece attacks */

.square:nth-child(odd)[data-attack='1'] {
    box-shadow: inset 0 0 0 100px rgba(255, 0, 0, 0.4);
}

.square:nth-child(even)[data-attack='1'] {
    box-shadow: inset 0 0 0 100px rgba(255, 0, 0, 0.4);
}

[data-attack='1']:hover {
    cursor: pointer;
}

.square:nth-child(odd)[data-attack='1']:hover {
    box-shadow: inset 0 0 0 100px rgba(255, 0, 0, 0.5);
}

.square:nth-child(even)[data-attack='1']:hover {
    box-shadow: inset 0 0 0 100px rgba(255, 0, 0, 0.5);
}

/* Pawn choise */

.selection .square:hover {
    cursor: pointer;
    background-color: rgba(111, 143, 114, 0.8);
}

/* Errors */

.is-invalid {
    border: 1px solid red;
}

.invalid_feedback {
    color: red;
}

/* Alerts */

.alert-success {
    position: absolute;
    top: 0;
    left: 0;
}

.alert-additional {
    position: absolute;
    top: 0;
    left: 0;
}

.message {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:0;
    left: 0;
    right: 0;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    body {height: max-content;}
    main {height: max-content;}
    .square {font-size: 3rem; width: 12.5vmin; height: 12.5vmin;}
    .index_square {font-size: 1rem; width: 12.5vmin; height: 12.5vmin;}
    .alert-success {font-size: 0.5rem;} 
    .alert-additional {font-size: 0.3rem;}
    .index_column{display: none;}
    .main_title{margin-top: .33em; margin-bottom: .33em;}
    .game-id{margin-top: 0;}
    .pieces {height: 110%; width: 110%;}
} 

@media only screen and (min-width: 641px) and (max-width: 812px) and (orientation: landscape)  {
    body {flex-direction: row; height: max-content;}
    header {min-width: 25vmax; flex-grow: 1;}
    footer {min-width: 12vmax; flex-grow: 1; text-align: center;}
    main {height: max-content;}
    .board {margin-top: 0;}
    .square {font-size: 3rem; width: 12.5vmin; height: 12.5vmin;}
    .index_square {font-size: 1rem; width: 12.5vmin; height: 12.5vmin;}
    .alert-success {font-size: 0.5rem;}
    .alert-additional {font-size: 0.3rem;}
    .index_row{display: none;}
    .message {position: fixed; right: 76vmax;}
    .message_id {position: fixed; right: 76vmax; top: 75vmin;}
    .main_title{position: fixed; top: 25vmin; right:75vmax; margin-top: .33em; margin-bottom: .33em; margin-left: .33em; margin-right: .33em;}
    .footer_text{position: fixed; top: 25vmin;}
    .game-id{margin-top: 0;}
    .pieces {height: 110%; width: 110%;}
}


