html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(87, 87, 88); 
    text-align: center;
}

.main_title {
    color: rgb(232, 150, 17);
    font-size: 3rem;
    font-family: 'Nixie One', cursive;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly; 
    flex-grow: 1;
}

footer {
    height: 50px;
    background-color: rgb(87, 87, 88);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */

.board_main {
    border: 1px solid black;
}

.rank {
    display: flex;
    flex-direction: row;
}

.index_row {
    display: flex;
    flex-direction: row;
}

.square {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_square {
    font-size: 1.3rem;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank:nth-child(even) .square:nth-child(odd) {
    background-color: black;
    color: white;
}

.rank:nth-child(odd) .square:nth-child(even) {
    background-color: black;
    color: white;
}

/* Errors */

.is-invalid {
    border: 1px solid red;
}

.invalid_feedback {
    color: red;
}