{% extends 'layout.html' %}
{% block content %}
<div class="your_move">
    <h4>Your move!</h4>
</div>
<div class="your_move">
    <h4>Your opponent's move!</h4>
</div>
<div class="board">
{% if session['figures'] %}
    {% for i in range(8) %}
        <div class="rank">
            {% for j in range(8) %}
                <div class="square" data-x="{{i}}" data-y="{{j}}" >{{i,j}}</div>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    {% for i in range(8)|reverse %}
    <div class="rank">
        {% for j in range(8)|reverse %}
            <div class="square" data-x="{{i}}" data-y="{{j}}" data-color="{{i+1}}" >{{i,j}}</div>
        {% endfor %}
    </div>
    {% endfor %}
{% endif %}
</div>
<div class="your_move">
    <h4>Your figures are {{ session['figures'] }}!</h4>
</div>
{% endblock content %}