{% extends 'layout.html' %}
{% block content %}
{% if session['creator'] and not both_connected %}
<div class="waiting">
    <h4>Waiting for your opponent...</h4>
</div>
{% endif %}
{% if both_connected %} 
    {% if (session['figures'] == 0 and p2_checkmate) or (session['figures'] == 1 and p1_checkmate) %}
        <div class="victory">
            <h4>Victory!</h4>
        </div>
    {% elif (session['figures'] == 0 and p1_checkmate) or (session['figures'] == 1 and p2_checkmate) %}
        <div class="checkmate">
            <h4>Checkmate!</h4>
        </div>
    {% elif stalemate %}
        <div class="stalemate hidden">
            <h4>Stalemate.</h4>
        </div>
    {% else %}    
        {% if (session['figures'] == 0 and p1_check) or (session['figures'] == 1 and p2_check) %}
            <div class="under_check">
                <h4>Check!</h4>
            </div>
        {% else %}
            <div class="under_check hidden">
                <h4>Check!</h4>
            </div>
        {% endif %}
        {% if (session['figures'] == 0 and p1_move) or (session['figures'] == 1 and not p1_move)  %}
            <div class="your_move">
                <h4>Your move!</h4>
            </div>
            <div class="opp_move hidden">
                <h4>Your opponent's move!</h4>
            </div>
        {% elif (session['figures'] == 1 and p1_move) or (session['figures'] == 0 and not p1_move) %}
        <div class="your_move hidden">
            <h4>Your move!</h4>
        </div>
        <div class="opp_move">
            <h4>Your opponent's move!</h4>
        </div>
        {% endif %}
    {% endif %}
{% else %}
    <div class="checkmate hidden">
        <h4>Checkmate!</h4>
    </div>
    <div class="victory hidden">
        <h4>Victory!</h4>
    </div>
    <div class="stalemate hidden">
        <h4>Stalemate.</h4>
    </div>
    <div class="under_check hidden">
        <h4>Check!</h4>
    </div>
    <div class="your_move hidden">
        <h4>Your move!</h4>
    </div>
    <div class="opp_move hidden">
        <h4>Your opponent's move!</h4>
    </div>
{% endif %}
<div class="board">
    <div class="index_column">
        {% if session['figures'] %}
            {% for i in range(1, 9) %}
                <div class="index_square">{{i}}</div>
            {% endfor %}
        {% else %}
            {% for i in range(1, 9)|reverse %}
                <div class="index_square">{{i}}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="board_letters">
        {% if session['figures'] %}
            <div class="index_row">
                {% for j in range(8)|reverse %}
                    <div class="index_square">{{files[j]}}</div>
                {% endfor %}
            </div>
            <div class="board_main">
                <div class="selection">
                    <div class="square">&#9819;</div>
                    <div class="square">&#9820;</div>
                    <div class="square">&#9821;</div>
                    <div class="square">&#9822;</div>
                </div>
                {% for i in range(1, 9) %}
                    <div class="rank">
                        {% for j in range(1, 9)|reverse %}
                            {% if [i, j] in moving.values() %}
                                <div class="square" data-x="{{i}}" data-y="{{j}}" data-m="1" data-a="0" data-go="0" data-attack="0" data-square="{{rank[i][j]}}"></div>
                            {% else %}
                                <div class="square" data-x="{{i}}" data-y="{{j}}" data-m="0" data-a="0" data-go="0" data-attack="0" data-square="{{rank[i][j]}}"></div>
                            {% endif %}   
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="index_row">
                {% for j in range(8)|reverse %}
                    <div class="index_square">{{files[j]}}</div>
                {% endfor %}
            </div>
        {% else %}
            <div class="index_row">
                {% for j in range(8) %}
                    <div class="index_square">{{files[j]}}</div>
                {% endfor %}
            </div>
            <div class="board_main">
                <div class="selection">
                    <div class="square">&#9819;</div>
                    <div class="square">&#9820;</div>
                    <div class="square">&#9821;</div>
                    <div class="square">&#9822;</div>
                </div>
                {% for i in range(1, 9)|reverse %}
                <div class="rank">
                    {% for j in range(1, 9) %}
                        {% if [i, j] in moving.values() %}
                            <div class="square" data-x="{{i}}" data-y="{{j}}" data-m="1" data-a="0" data-go="0" data-attack="0" data-square="{{rank[i][j]}}"></div>
                        {% else %}
                            <div class="square" data-x="{{i}}" data-y="{{j}}" data-m="0" data-a="0" data-go="0" data-attack="0" data-square="{{rank[i][j]}}"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="index_row">
                {% for j in range(8) %}
                    <div class="index_square" >{{files[j]}}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="index_column">
        {% if session['figures'] %}
            {% for i in range(1, 9) %}
                <div class="index_square">{{i}}</div>
            {% endfor %}
        {% else %}
            {% for i in range(1, 9)|reverse %}
                <div class="index_square">{{i}}</div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="your_move">
    <h4 class="game-id" data-i="{{ game_id }}">Your figures are {{ session['figures'] }}! Your game ID is {{ game_id }}!</h4>
</div>
{% endblock content %}
{% block scripts %}
<script src={{ url_for('static', filename='scripts.js') }}></script>
{% endblock scripts %}